# dependencies
node_modules/
.pnpm-store/

# env
.env
.env.local
.env.*.local

# build outputs
.next/
dist/
build/
out/
.turbo/
coverage/
*.tsbuildinfo

# misc
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/
